.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.free {
  height: 9vh;
  background-color: rgb(28, 28, 28);
}
.free .container {
  font-size: 16px;
}
.free .container .row {
  height: 100%;
}
.free .container .row .col-sm-6 p {
  color: rgb(124, 122, 124);
}
.free .container .row .col-sm-6 p a {
  color: #fff;
}
.free .container .row .col-sm-6 p a:hover {
  color: rgb(32, 158, 46);
}
.free .container .row .col-sm-6 li a {
  color: rgb(124, 122, 124);
}
.free .container .row .col-sm-6 li a span {
  width: 50px;
  height: 70px;
  color: white;
}
.free .container .row .col-sm-6 li a:hover {
  color: rgb(32, 158, 46);
}
.free .container .row .col-sm-6 li:last-child {
  border: 1px solid #bbb;
  background-color: rgb(60, 60, 60);
}

.lawnella {
  height: 15vh;
}
.lawnella .container .row {
  height: 15vh;
}
.lawnella .container .row .col-md-6 .d-flex p {
  font-size: 14px;
}
.lawnella .container .row .col-md-2 .btn:hover {
  color: black;
}

header .container-fluid .collapse {
  height: 12vh;
  border: 2px dashed #ccc;
}
header .container-fluid .collapse .col-7 i {
  font-size: 10px;
}
header .container-fluid .collapse .col-7 ul li a {
  color: #fff;
}
header .container-fluid .collapse .col-7 ul li a:hover {
  color: rgb(32, 158, 46);
}
header .container-fluid .collapse .col-7 ul li ul li {
  border: 1px dashed #ddd;
  margin: 10px;
}
header .container-fluid .collapse .col-7 ul li ul li a {
  color: #fff;
}
header .container-fluid .collapse .col-7 ul li ul li a:hover {
  color: rgb(32, 158, 46);
}
header .container-fluid .collapse .col-7 ul li ul li:hover {
  border-color: rgb(32, 158, 46);
}
header .container-fluid .collapse .col-5 ul .search_link::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 40px;
  display: block;
  background-color: #bbb;
}
header .container-fluid .collapse .col-5 ul .search_link a i {
  color: #fff;
}
header .container-fluid .collapse .col-5 ul .search_link a i:hover {
  color: rgb(32, 158, 46);
}
header .container-fluid .collapse .col-5 ul .search_link input {
  border: none;
  border: 1px dashed #bbb;
}
header .container-fluid .collapse .col-5 ul .radius i {
  color: rgb(130, 130, 130);
  border: 1px dashed #ddd;
  padding: 10px;
  border-radius: 50%;
}
header .container-fluid .collapse .col-5 ul .radius i:hover {
  color: rgb(32, 158, 46);
  border-color: rgb(32, 158, 46);
}

.slide {
  height: auto;
}
.slide .carousel .carousel-inner .position-relative .pa-1 {
  top: 80px;
  left: 120px;
}
.slide .carousel .carousel-inner .position-relative .pa-1 .btns .btn:first-child {
  background-color: rgb(32, 158, 46);
  color: #fff;
}
.slide .carousel .carousel-inner .position-relative .pa-1 .btns .btn:first-child:hover {
  background-color: #fff;
  color: rgb(32, 158, 46);
}
.slide .carousel .carousel-inner .position-relative .pa-1 .btns .btn:last-child:hover {
  background-color: rgb(32, 158, 46);
}
.slide .carousel .carousel-inner .position-relative .pa-2 {
  top: 80px;
  right: 60px;
}
.slide .carousel .carousel-inner .position-relative .pa-2 .btns .btn:first-child {
  background-color: rgb(32, 158, 46);
  color: #fff;
}
.slide .carousel .carousel-inner .position-relative .pa-2 .btns .btn:first-child:hover {
  background-color: #fff;
  color: rgb(32, 158, 46);
}
.slide .carousel .carousel-inner .position-relative .pa-2 .btns .btn:last-child:hover {
  background-color: rgb(32, 158, 46);
}

#scroll {
  position: fixed;
  bottom: 100px;
  left: 1200px;
  z-index: 100;
}
#scroll .btn {
  background-color: rgb(32, 158, 46);
}

.gardening .container .col-12 .image {
  position: relative;
  width: 350px;
  height: 236px;
}
.gardening .container .col-12 .image .overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.6s;
}
.gardening .container .col-12 .image .overlay p {
  position: absolute;
  color: #d6d6d6;
}
.gardening .container .col-12:hover .overlay {
  bottom: 0;
  height: 100%;
}
.gardening .container .col-12 .content {
  width: 100%;
}
.gardening .container .col-12 .content h2 {
  position: absolute;
  width: 200px;
  right: 94px;
  text-align: center;
  padding: 8px;
  bottom: -10px;
  font-size: 22px;
  font-weight: 700;
  transform: translateX(0px);
}
.gardening .container .col-12 .content h2::before {
  content: "";
  position: absolute;
  background-color: #fff;
  height: 100%;
  width: 200px;
  top: 0;
  z-index: -10;
  left: 0;
  transform: skew(-30deg);
}

.dream {
  height: auto;
  background-color: rgb(244, 244, 244);
}
.dream .image .img-thumbnail {
  width: 450px;
  height: 340px;
  position: relative;
}
.dream .image .garden {
  position: absolute;
  bottom: 20px;
  left: 50px;
  width: 220px;
  height: 35px;
  background-color: #fff;
  z-index: 100;
}
.dream .image .img-2 {
  position: absolute;
  top: 200px;
  left: 260px;
}
.dream .text h5 {
  font-size: 14px;
  color: rgb(174, 174, 178);
}

.commercial .container .col-12 .card .card-text {
  border-bottom: 1px dashed #bbb;
}

.gallery {
  background-color: rgb(28, 28, 28);
}
.gallery .container {
  height: 30vh;
}
.gallery .container .col-md-7 ul {
  border: 1px dashed #bbb;
}
.gallery .container .col-md-7 ul li:not(:first-child) {
  position: relative;
}
.gallery .container .col-md-7 ul li:not(:first-child):hover {
  cursor: pointer;
  color: rgb(31, 136, 43);
}
.gallery .container .col-md-7 ul li:not(:first-child)::before {
  content: "";
  width: 2px;
  height: 30px;
  display: block;
  position: absolute;
  border: 1px dashed #bbb;
  right: 100px;
  bottom: -2px;
}
.gallery .g-3 .col-md-4 .img {
  width: 359px;
  height: 320px;
  position: relative;
}
.gallery .g-3 .col-md-4 .img .overlay {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 100%;
  overflow: hidden;
  width: 100%;
  height: 0;
  background-color: rgba(0, 255, 0, 0.7);
  transition: 0.6s;
}
.gallery .g-3 .col-md-4 .img .overlay span {
  position: absolute;
  border: 1px dashed #fff;
  padding: 20px;
  border-radius: 50%;
  left: 150px;
  top: 70px;
}
.gallery .g-3 .col-md-4 .img:hover .overlay {
  bottom: 0;
  height: 100%;
}
.gallery .g-3 .col-md-4 .img .overlay-yard {
  position: absolute;
  left: 1%;
  right: 1%;
  top: 100%;
  overflow: hidden;
  width: 98%;
  height: 0;
  background-color: rgba(0, 0, 0, 0.9);
  transition: all 0.6s;
}
.gallery .g-3 .col-md-4 .img:hover .overlay-yard {
  height: 30%;
  top: 69%;
}

.reson {
  height: auto;
  background-color: rgb(244, 244, 244);
}
.reson .col-12 {
  height: 220px;
  width: 350px;
}
.reson .col-12 .d-flex {
  position: relative;
}
.reson .col-12 .d-flex .text-center {
  color: rgb(132, 117, 125);
}
.reson .col-12 .d-flex .display {
  position: absolute;
  left: -2%;
  right: 1%;
  bottom: 100%;
  width: 350px;
  height: 0;
  overflow: hidden;
  background-color: rgba(0, 255, 60, 0.8);
  transition: 0.6s;
}
.reson .col-12 .d-flex:hover .display {
  height: 100%;
  bottom: 0;
}
.reson .col-12 .d-flex:hover h4, .reson .col-12 .d-flex:hover p {
  z-index: 5;
  color: #fff;
}

.customer {
  height: 60vh;
}
.customer .container .card {
  border-left: 3px solid rgb(47, 164, 60);
}
.customer .container .card img {
  border: 1px dashed #bbb;
  border-radius: 50%;
  padding: 10px;
}
.customer .container .card .card-body .d-flex i {
  color: rgb(232, 232, 232);
}
.customer .container .card .card-body .d-flex i:hover {
  color: rgb(47, 164, 60);
}
.customer .container .card .card-body .d-flex span {
  color: rgb(47, 164, 60);
}
.customer .container .card .card-body .d-flex span:hover {
  color: rgb(232, 232, 232);
}

.map .container-fluid .img1, .map .container-fluid .img3, .map .container-fluid .img2 {
  width: 90px;
  height: 90px;
  background-color: green;
  top: 50px;
  left: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.map .container-fluid .img1 img, .map .container-fluid .img3 img, .map .container-fluid .img2 img {
  border-radius: 50%;
  background-color: #fff;
}
.map .container-fluid .img2 {
  top: 300px;
  left: 500px;
}
.map .container-fluid .img3 {
  top: 200px;
  left: 700px;
}
.map .container-fluid .flatbush {
  position: absolute;
  border-left: 4px solid rgb(32, 158, 46);
  width: 300px;
  height: 250px;
  padding: 25px;
  background-color: #fff;
  top: 100px;
  left: 900px;
}
.map .container-fluid .flatbush h4 {
  color: rgb(32, 158, 46);
  margin-bottom: 20px;
}
.map .container-fluid .flatbush p {
  color: rgb(148, 128, 128);
}
.map .container-fluid .flatbush p span {
  color: #000;
}

footer .container .col-md-4 p {
  color: #797779;
}
footer .container .col-md-4 p span {
  color: rgb(47, 164, 60);
}
footer .container .col-md-4 .row .col-md-6 ul li {
  line-height: 2;
  color: #797779;
}
footer .container .col-md-4 .row .col-md-6 ul li:hover {
  color: #fff;
}
footer .container .col-md-8 p {
  color: #797779;
}
footer .container .d-none span {
  border: 1px dashed #ddd;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  margin-right: 15px;
}
footer .container .d-none span i {
  color: #797779;
}

@media screen and (max-width: 480px) {
  .map iframe {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */